h3 {
  margin-bottom: 0;
}

p {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  text-align: left;
}

hr {
  color: #ffffff;
}

.container-fluid {
  padding: 0;
}

.hero {
  color: #ffffff;
  background: #02381a;
  padding-bottom: 100px;
}

.hero h1 {
  font-size: 60px;
  font-family: "Playfair Display", serif;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 70%;
  line-height: 105px;
}

.hero-content {
  padding-left: 210px;
}

.row {
  padding-top: 70px;
}

.btn-resume {
  border: 1px solid #ffffff;
  color: #ffffff;
  margin-left: 38px;
  padding: 10px 45px;
}

.main-content {
  background: #f2eae5;
  padding-left: 90px;
}

.main-content h2 {
  padding-top: 70px;
  margin-bottom: 0;
}

.primary-image {
  width: 580px;
  height: 715px;
}

.secondary-image {
  width: 700px;
  height: 580px;
}
