:root {
  --font: "Poppins", sans-serif;
  --font-secondary: "Playfair Display", serif;
  --primary-color: #ffffff;
  --secondary-color: #64a19f;
  --background-primary: #041f1e;
  --background-secondary: #07312f;
}

nav {
  padding-top: 50px;
  margin: 0 auto;
  width: 80%;
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 25px;
}

nav a,
footer a {
  font-size: 20px;
  font-style: none;
  font-family: var(--font);
  color: var(--primary-color);
  text-decoration: none;
}

nav a:hover,
footer a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

h1 {
  font-size: 100px;
  font-family: var(--font-secondary);
  text-align: left;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 70px;
  width: 70%;
  line-height: 105px;
}

h1 span,
h2 span {
  color: var(--secondary-color);
  font-style: italic;
}

h3 {
  margin-bottom: 0;
}

p {
  font-family: var(--font);
}

ul {
  list-style: none;
  text-align: left;
}

hr {
  border: 1px solid var(--secondary-color);
}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 80%;
}

footer h2 {
  font-size: 70px;
}

.missy-link {
  font-size: 20px;
  font-weight: 100;
}

.container-fluid {
  padding: 0;
  background: var(--background-secondary);
  width: 100%;
}

.content-container {
  color: var(--primary-color);
  background: var(--background-primary);
  padding-bottom: 100px;
}

.content {
  margin: 0 auto;
  width: 70%;
  padding-bottom: 140px;
}

.education a {
  font-size: 10px;
  font-style: italic;
  color: var(--primary-color);
}

.education a:hover {
  color: var(--secondary-color);
}

.row {
  padding-top: 70px;
}

.col-md-6-intro {
  background-color: var(--secondary-color);
}

.btn-resume {
  border: 1px solid var(--secondary-color);
  color: var(--primary-color);
  margin-left: 38px;
  padding: 10px 45px;
}

.btn-resume:hover {
  color: var(--secondary-color);
}

.main-content {
  color: var(--primary-color);
  padding: 0;
  width: 70%;
  margin: 0 auto;
}

.main-content h2 {
  color: var(--secondary-color);
  padding-top: 70px;
  margin-bottom: 0;
}
.main-content a {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 600;
}
.main-content a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.primary-image {
  width: 580px;
  height: 715px;
}

.secondary-image {
  width: 700px;
  height: 580px;
}

.personal-description {
  width: 80%;
  padding-top: 45px;
}

.contact {
  font-size: 50px;
  padding-top: 55px;
}

.contact-content {
  font-size: 20px;
  padding-top: 30px;
}

.contact-content a {
  font-family: var(--font-secondary);
  font-style: italic;
}
